/* Container for each slide */
.slide-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 10px; /* Rounded corners for slide content */
  overflow: hidden; /* Ensure rounded corners work properly */
}

/* Ensure images are centered and have max-width */
.slide-content img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
  border-radius: 10px; /* Rounded corners for images */
}

/* Center the text below the image */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  text-align: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Optional: background to make text more readable */
  margin-top: 8px;
  border-radius: 0 0 10px 10px; /* Rounded corners for bottom */
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  font-weight: bold; /* Make the number text bold */
}

/* Slideshow container */
.slideshow-container {
  max-width: 60%;
  position: relative;
  margin: auto;
  background: radial-gradient(circle, rgba(144, 224, 239, 1) 0%, rgba(144, 224, 239, 0) 100%);
  padding: 2em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px; /* Rounded corners for container */
}

/* Fade animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
