/* Basic responsive styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #03045E;
}

.banner {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: auto;
    display: block;
}

/* Navbar styles */
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f3f3f3;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover:not(.active) {
    background-color: #ddd;
}

.navbar li a.active {
    color: white;
    background-color: #04AA6D;
}

/* Sidebar styles */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

/* Containers */
.container-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;

}

.container {
    flex: 1;
    padding: 20px;
    max-width: 1200px;
    width: 100%;
    margin: 2em;
    box-sizing: border-box;
    background: #48CAE4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Responsive text alignment */
h1, h2, p {
    text-align: center;
}

/* Responsive layout */
@media (max-width: 767px) {
    .container {
        width: 90%;
        margin: 10px auto;
    }
}
