/* Sidebar styl */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 300; /*sidebar åvanför allt */
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Öppna button */
.openbtn {
    font-size: 1.5em;
    cursor: pointer;
    background-color: #111;
    color: white;
    border: none;
    position: sticky;
    padding: 0.4em;
}

.openbtn:hover {
    background-color: #444;
}

/* Huvud kontent transition */
#main {
    transition: margin-left .5s;
}

/* Responsive design */
@media screen and (max-height: 1025px) {
    .sidebar { padding-top: 15px; }
    .sidebar a { font-size: 18px; }
}
